.navbar {
    background-color: #f2ece8;
    padding: 20px;
    margin-bottom: 30px;
}

#topheading {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}

#navigate {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
}

#navigate #navLinks {
    display: flex;
}

#navigate Form {
    display: flex;
}

#navigate Form .userInput {
    border-radius: 12px;
    border-width: 2px;
    background-color: white;
    border-color: black;
    color: black;
    min-width: 150px;
    margin-left: 30px;
}

#navigate Form Button {
    border-radius: 12px;
    border-width: 2px;
    background-color: white;
    border-color: black;
    color: black;
    margin-left: 20px;
}

#navigate Form Button:hover {
    background-color: #e2c9ba;
}

.nav-link {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.nav-link:hover {
    color: grey;
}

.loggedIn {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 18px;
}

.loggedIn Button {
    border-radius: 12px;
    border-width: 2px;
    background-color: white;
    border-color: black;
    color: black;
    margin-left: 30px;
}

.loggedIn Button:hover {
    background-color: #e2c9ba;
    border-color: black;
    color: black;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
    }
}