.navbar {
    background-color: #efe7e2;
    padding: 20px;
    margin-bottom: 40px;
}

#topheading {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}

#navigate {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
}

#navigate #navLinks {
    display: flex;
}

#navigate Form {
    display: flex;
}

#navigate Form .userInput {
    border-radius: 12px;
    border-width: 2px;
    background-color: white;
    border-color: black;
    color: black;
    min-width: 150px;
    margin-left: 30px;
    padding: 5px;
}

#navigate Form Button {
    width: 120px;
    border-radius: 12px;
    border-width: 2px;
    background-color: white;
    border-color: black;
    color: black;
    margin-left: 20px;
    padding: 5px;
    min-width: 80px;
}

#navigate Form Button:hover {
    background-color: #e2c9ba;
}

.nav-link {
    font-size: 1.4rem;
    margin-right: 10px;
    margin-left: 10px;
}

.nav-link:hover {
    color: grey;
}

.loggedIn {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.3rem;
}

.loggedInButton {
    border-radius: 12px;
    border-width: 2px;
    background-color: white;
    border-color: black;
    color: black;
    margin-left: 30px;
    padding: 5px;
    min-width: 80px;
}

.loggedInButton:hover {
    background-color: #e2c9ba;
    border-color: black;
    color: black;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
    }
}

/* Search bar juttuja! */

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ced4da;
    border-top: none;
    z-index: 999;
}

.search-result {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.search-result:hover {
    background-color: #f2f2f2;
}